@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --main-type:'Inter', sans-serif;
    --secondary-type:"Questrial";
    --cover:rgba(0, 0, 0, 0.8);
}

*{
    padding:0;
    margin:0;
    font-family:var(--main-type);
    box-sizing: border-box;
}

body{
    background:#000415;
    min-height: 1500px;
}

.max-width{
    margin:0px auto;
    width:80%;
    max-width:1200px;
}

.display-none{
    display:none;
}

hero{
    display:block;
    width:100%;
    height:100vh;
    background:#000415;
}

nav{
    width:100%;
    color:#fff;
    padding:30px 0;
    position: fixed;
    z-index:20000;
}


.nav-content{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    animation: navappear 1.3s forwards;
}

.nav-logo{
    flex-grow: 1;
    color:#000;
}

.nav-logo img{
    object-fit: contain;
    height:30px;
}

.nav-menu-items{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-menu-item{
    margin:0px 30px;
    font-size:14px;
    font-weight:200;
    color:#fff;
}

.nav-menu-item i {
    color:#fff;
}

.menu{
    display:none;
    font-size: 20px;
}


menu{
    display:block;
    width:80%;
    background:#fff;
    position:fixed;
    top:20px;
    max-width:900px;
    left:50%;
    transform:translateX(-50%) scale(0);
    border-radius: 10px;
    transition: all ease-in-out .3s;
    z-index:30000;
}

menu h3{
    margin:0 0 20px 0;
}

.menu-close{
    color:#858585;
    font-weight:200;
    text-align: right;
    padding:20px 20px 0 0;
}

.show-menu{
    transform:translateX(-50%) scale(1);
    transition: all ease-in-out .3s;
}

.menu-item{
    color:#000;
    padding:20px 0;
    font-weight:200;
}

.menu-item i{
    vertical-align: middle;
}

.menu-content{
    padding:30px;
}

.hero-content{
    padding:25vh 0 0 0;
    color:#fff;
    animation: appear 1.3s forwards;
}

.hero-content p{
    margin:20px 0;
    font-weight:200;
}

.hero-content-container{
    max-width: 400px;
}

.hero-tags{
    display:flex;
    align-items: center;
}

.hero-tag{
    margin:5px 5px 5px 5px;
    font-weight:200;
    font-size:9px;
    background: rgba(70, 70, 70, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius:150px;
    padding:5px 20px;
    color:#fff;
}

.hero-ctas{
    display:flex;
    flex-wrap: wrap;
    font-weight:200;
}

.hero-ctas > div{
    margin:20px 20px 0px 0;
}

.hero-cta-action{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
}

.hero-cta-icon i{
    vertical-align: middle;
    font-size:25px;
}

.hero-cta-text{
    vertical-align: middle;
    margin:0 0 0 10px;
}

.purchase-hero{
    position:absolute;
    bottom:50px;
    color:#000;
    padding:10px 20px;
    border-radius:150px;
    background: rgba(221, 221, 221, 0.9);
    -webkit-backdrop-filter: saturate(100%) blur(10px);
    backdrop-filter: saturate(100%) blur(10px);
    font-size:12px;
    font-weight:700;
    left:10%;
    transform:translateX(-10%);
}

.connect{
    position:absolute;
    bottom:20px;
    right:10%;
    transform:translateX(-10%);
    color:#fff;
    display:flex;
    flex-wrap: nowrap;
    font-size:20px;
    align-items: center;
}

.connect > div{
    padding:0 0 0 30px;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* section:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000415, transparent);
    z-index: 10000;
} */

.section-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}

#main{
    z-index: 2;
}
  
  
  

@keyframes navappear {
    from{transform: translateY(-100px);}
    to {transform: translateY(0);}
}

@keyframes appear {
    from {transform: translateY(20px);}
    to {transform: translateY(0);}
}

@media only screen and (max-width: 800px) {
    .menu{
        display:block;
    }

    .books, .wall-of-fame, .shop, .membership{
        display:none;
    }
}